:root {
  --shelter-color: darkorange;
  --vet-color: steelblue;
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

.header {
  text-align: center;
  height: 60px;
  color: #fff;
  background-color: darkslategray;
  display: flex;
}

.title {
  margin: auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4vmin;
  padding: 4vmin;
  box-sizing: border-box;
}

.place {
  border: 4px solid black;
  border-radius: 1vmin;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4),
              0 0 10px 0 rgba(0, 0, 0, .2);
  background-color: white;
}

.place__header {
  color: white;
  margin: -1px;
  padding: 10px 0 15px;
  text-align: center;
}

.place_type_shelter {
  border-color: var(--shelter-color);
}

.place_type_shelter .place__header {
  background-color: var(--shelter-color);
}

.place_type_vet {
  border-color: var(--vet-color);
}

.place_type_vet .place__header {
  background-color: var(--vet-color);
}

.cats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  padding: 2vmin;
  gap: 2vmin;
}

.cat {
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 2vmin;
}

.cat__photo {
  max-width: calc(100% - 2vmin);
  border-radius: 2vmin;
  height: auto;
  margin: 1vmin;
}

.cat__name {
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, .1);
}

.button {
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid darkslategray;
  font-weight: bold;
  color: white;
  background-color: darkslategray;
  transition: opacity 200ms;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
}

.button_to-vet {
  background-color: var(--vet-color);
}

.button_to-shelter {
  background-color: var(--shelter-color);
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: visibility 300ms, opacity 300ms;
  visibility: hidden;
  cursor: pointer;
}

.popup_visible {
  opacity: 1;
  visibility: visible;
}

.popup__background {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.popup__content {
  background-color: rgba(255, 255, 255, .9);
  margin: auto;
  border-radius: 2vmin;
}

.cat-info {
  list-style: none;
  padding: 4vmin;
  margin: 0;
  font-size: 3vmin;
}

/* fade in anim */

.fadeIn {
  opacity: 0;
  animation: fadeInAnim 0.4s linear forwards;
}

@keyframes fadeInAnim {
  from {opacity: 0; }
  to {opacity: 1;}
}
